header
    width: 100%
    position: fixed
    .menu
        padding: 30px 0
        .imgbox
            width: 200px
        nav
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            a
                color: #ffffff
                margin-left: 30px
                font-size: 16px
                &:hover
                    color: #ffc800



