#portfolio
    text-align: center
    h1
        font-size: 40px
        font-weight: 700
    h2
        font-size: 25px
        font-weight: 700
    h3
        padding: 20px 0 60px
    h4
        padding: 10px 0 40px
    h3, h4
        color: #7e8081
        font-style: italic
        font-size: 18px
    .imgbox
        margin-bottom: 20px
        max-width: 420px
        display: inline-block
        
        

