#services
    text-align: center
    h1
        font-size: 40px
        font-weight: 700
    h3
        font-style: italic
        color: #a4a4a4
        padding: 30px 0 50px
    h2
        font-size: 25px
        font-weight: 700
    .icon
        font-size: 60px
        background-color: #ffc800
        color: #ffffff
        padding: 20px
        border-radius: 50%
        width: 100px
        text-align: center